html,
body {
  width: 100%;
  height: 100%;
  font-family: "Galmuri7";
  font-weight: 400;
  overflow: hidden;
}
body .wrap {
  width: 100%;
  transition: 1s ease-in-out;
  #intro {
    width: 100%;
    height: 100vh;
    display: flex;
    .left_area {
      width: 50%;
      height: 100%;
      color: var(--subColor3);
      position: relative;
      h1 {
        font-size: 11.25rem; /* 180px */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        span {
          display: inline-block;
          &.select {
            color: var(--subColor1);
            position: relative;
            &::after {
              content: "";
              display: block;
              width: 115%;
              height: 120%;
              background: url(../images/select_effect.png) no-repeat center / contain;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -45%);
            }
          }
        }
      }
    }
    .right_area {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      background-color: var(--mainColor);
      background-image: url(../images/intro_rect.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .txtBox {
        font-family: "Pretendard";
        font-size: 2rem; /* 32px */
        p {
          &:not(:first-child) {
            margin-top: 30px;
          }
        }
      }
      button#startBtn {
        width: 200px;
        height: 80px;
        display: inline-block;
        font-family: "Galmuri7";
        font-size: 2.13rem; /* 34px */
        border: 5px solid #fff;
        border-radius: 20px;
        margin-top: 100px;
        overflow: hidden;
        background: linear-gradient(60deg, var(--subColor3) 50%, var(--subColor4) 50%);
        box-shadow: inset 0px -10px 0px #592ba3, 0px 10px 0px rgba(0, 0, 0, 0.15);
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          line-height: 60px;
          text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
  #gameWrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    .top {
      min-height: 60%;
      padding: 20px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      position: relative;
      z-index: 5;
      h2 {
        color: var(--subColor6);
        font-size: 6.25rem;
      }
      p {
        color: var(--subColor2);
        font-size: 1.5rem;
        font-family: "Pretendard";
        margin-top: 1.85vh; /* 20px */
      }
      .checkArea {
        ul#wrongAnswer {
          display: flex;
          justify-content: center;
          gap: 15px;
          margin-top: 7.4vh; /* 80px */
          li {
            width: 70px;
            height: 70px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-family: "Pretendard";
            font-weight: bold;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EF9DE9FF' stroke-width='3' stroke-dasharray='17.5' stroke-dashoffset='10' stroke-linecap='round'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            &.able {
              background-color: var(--subColor1);
              background-image: none;
            }
            &.unable {
              background-color: #ccc;
              background-image: none;
            }
          }
        }
        .inputArea {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 4.62vh; /* 50px */
          .minNum {
            font-size: 2.2rem;
            color: var(--subColor7);
          }
          input[type="number"] {
            width: 500px;
            height: 45px;
            color: #333;
            text-align: center;
            border: 3px solid var(--subColor7);
            border-radius: 10px;
            &::placeholder {
              color: #ccc;
            }
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            /* Firefox */
            & {
              -moz-appearance: textfield;
            }
          }
          .maxNum {
            font-size: 2.2rem;
            color: var(--subColor7);
          }
        }
      }
      button.checkBtn {
        margin-top: 2.77vh; /* 30px */
        background-color: var(--subColor5);
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .bottom {
      flex: 1;
      width: 100%;
      background-image: url(../images/bgImage.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: calc(100% + 800px);
      position: relative;
      user-select: none;
      pointer-events: none;
      transition: 0.75s;
      .caractor {
        height: 90%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        ul.life {
          display: flex;
          flex-direction: row-reverse;
          gap: 1vh;
          li {
            // width: 45px;
            // height: 40px;
            padding:calc(3.70vh / 2);
            background: url(../images/heart.png) no-repeat center / contain;
            &.unable {
              background-image: url(../images/heart_enable.png);
            }
          }
        }
        .cracImg {
          height: calc(100% - 60px);
          margin: 0 auto;
          margin-top: 20px;
          text-align: center;
          position: relative;
          &::before {
            content: "";
            display: block;
            width: 50%;
            height: 30px;
            border-radius: 50%;
            background-color: var(--subColor5);
            opacity: 0.3;
            position: absolute;
            left: 50%;
            bottom: 0%;
            transform: translateX(-50%);
          }
          img {
            height: 100%;
            position: relative;
          }
        }
      }
    }
  }
  #popupArea {
    width: 70%;
    max-width: 1020px;
    height: 80%;
    max-height: 600px;
    display: none;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    div.popup {
      width: 100%;
      height: 100%;
      padding: 125px 0;
      border-radius: 40px;
      color: #fff;
      text-align: center;
      background-color: rgba(13, 7, 136, 0.8);
      position: absolute;
      left: 0;
      top: 0;
      display: none;
      &.correctAns {
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: url(../images/fanfareBg.png) no-repeat center;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      &.active {
        display: block;
      }
      .inner {
        position: relative;
        z-index: 5;
        h3 {
          font-size: 7.5rem;
          &.failTxt {
            color: var(--subColor2);
          }
        }
        p {
          font-family: "Pretendard";
          font-size: 2.5rem;
          font-weight: bold;
          margin-top: 30px;
          span.number {
            display: inline-block;
            position: relative;
            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              background-color: #fff;
              position: absolute;
              left: 0;
              bottom: -2px;
            }
          }
        }
        button {
          margin-top: 60px;
          background-color: var(--subColor1);
        }
      }
    }
  }
}
